:root {
    --primary-color: #d9272e;
    --text-color: white;
    --background-color: #2a502c;
    --border-color: #ffffff;
}

    /* General Styles */
body {
    background-color: #2a502c;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Hero Section */
.hero {
    text-align: center;
    --background-color: #2a502c;
    color: white;
    padding: 20px;
}

.hero img {
    max-width: 100%;
    height: auto;
}


/* Data Section */
.data {
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid #ffffff;
    color: #2a502c;
    font-weight: bold;
    margin: 10px;
    padding: 15px;
    text-align: left;
    position: absolute;
    top: 30px;
    left: 30px;
    width: 250px; /* Fixed reasonable width */
    height: auto; /* Fixed height */
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.data h2 {
    --primary-color: #d9272e;
    text-align: center;
}

.data ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.data ul li {
    margin: 5px 0;
    font-size: 14px;
    text-align: center;
}
/* Weather Section */
.weather {
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid #ffffff;
    color: #2a502c;
    font-weight: bold;
    margin: 10px;
    padding: 15px;
    text-align: left;
    position: absolute;
    top: 30px;
    right: 30px;
    width: 250px; /* Fixed reasonable width */
    height: 225px; /* Fixed height */
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.weather h2 {
    --primary-color: #d9272e;
    text-align: center;
}

.weather img {
    display: block;
    margin: 10px auto;
    width: 50px;
    height: 50px;
}


.weather ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.weather ul li {
    margin: 5px 0;
    font-size: 14px;
    text-align: center;
}

/* Footer */
footer {
    text-align: center;
    background-color: #d9272e;
    color: white;
    padding: 6px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0px 0;
    font-size: 12px;
}


/* Media Query for Mobile Devices */
@media (max-width: 767px) {
    .data, .weather {
        position: static;
        margin: 10px auto;
        width: 90%;
        text-align: center;
    }

    .data ul li, .weather ul li {
        font-size: 14px;
    }
}

        /* Desktop Styles 
        @media (min-width: 768px) {
            .hero {
                padding: 40px;
            }

            .data, .weather {
                width: 60%;
                margin: 20px auto;
            }

            footer {
                position: fixed;
                bottom: 0;
                width: 100%;
            }
        }
        */


.hero {
    --background-color: #2a502c;
    color: var(--text-color);
}

.hero h1::after {
    content: " 🇺🇸";
    font-size: 20px;
    margin-left: 10px;
}